/* import all the stylesheets here:*/
@import "./components/button.css";
@import "./components/navigation.css";
@import "./components/card.css";
@import "./components/header.css";
@import "./components/profile.css";
@import "./components/form.css";

:root {
    --color-std-text: blue;
    --color-header-background:green;
    --color-header-border:black; 
    --color-title:white;
    --color-footer-background:green;
    --height-navbar:80px;
    --color-current-page:darkgreen;
    --color-button-answer-background: rgba(230, 227, 227, 0.648);
    --color-button-answer-border: black ;
    --color-button-answer-text: black ;
    --color-hasttag-text:brown;
    --color-hasttag-background:lightgray;
    --color-answer-text: purple;
    --color-profilepage__about-border:green;
    --color-profilepage__counter: rgb(231, 171, 231);
    --color-profilepage__counter-border: black;
    --width-profilepage__counter-border: 2px;
}
* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin:0;
}

main, .created-questions-container {
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 10px;
    padding-top: 30px;
    align-items: center;
}

main {
    /* add space in bottom of every page, so nav is not in the way in the bottom */
    margin-bottom: var(--height-navbar); 
}
