:root {
    --color-header-background:green;
    --color-title:white;
    --color-footer-background:green;
    --height-footer:80px;
    --color-current-page:darkgreen;
    --color-button-answer-background: rgba(230, 227, 227, 0.648);
    --color-button-answer-border: black ;
    --color-button-answer-text: black ;
}
* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin:0;
}

main {
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 10px;
    padding-top: 30px;
    align-items: center;
}