.button-answer {
    width: 100px;
    align-self: center;
    margin-bottom:20px;
}
/* .button-answer:active {
    content: 'Answer';
}
.button-answer:active:after {
    content: 'Answer';
} */

.button-bookmark {
    width: 30px;
    height: 30px;
    align-self: flex-end;
    position:relative;
    bottom:25px;
}

/* .button-bookmark:after {
    background-color: black;
    display: block;
}
.button-bookmark:active:after {
    background-color: black;
} */
/* .button-bookmark:active {
    background-color: black;
    display: block;
} */