.card__button-answer {
    /* width: 120px; */
    /* height:40px; */
    padding: 10px;
    align-self: center;
    margin-top:20px;
    margin-bottom:20px;
    border: 2px solid var(--color-button-answer-border);
    background-color: var(--color-button-answer-background);
    color: var(--color-button-answer-text);
    font-size:medium;
}

.card__bookmark {
    width: 40px;
    height: 40px;
    align-self: flex-end;
    position:relative;
    bottom:20px;
}

.settings__dark-mode-section__box {
    align-self: center;
}

.settings__dark-mode-section__box--button:hover {
    background-color: purple;
    color:white;
    box-shadow: rgba(19, 63, 194, 0.876) 0px 10px 20px,
      rgba(72, 15, 243, 0.895) 0px 15px 12px;
  }