.card {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 300px;
    padding: 10px;
}
.card p {
    align-self: center;
}
.button {
    width: 100px;
    align-self: center;
}