.card {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 300px;
    padding: 10px;
}
.card__question, .card__answer {
    align-self: center;
    text-align: center;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
}

.card__answer {
    color:purple;
}

.card__hashtags-container {
    list-style-type: none; /* a list I don't want bullets for */
    display: flex;
    padding:2px;
    gap:5px;
    /* background-color: antiquewhite; */
}

.card__hashtag-container__hashtag {
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    background-color: lightgray;
}

