footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: blueviolet;
    /* to stay on top of other elements at the bottom and stick to it */
    position:sticky;
    bottom: 0px;
    z-index: 10;   
}
footer img {
    height: 50px;
}

nav { 
    display: flex;
}

.nav-item-box {
    display: flex;
    justify-content: center;
    width: 80px;
    /* background-color: aquamarine; */
}
.nav-home-box {
    background-color: blue;
}