footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height-footer);
    border-top: 2px solid black;
    background-color: var(--color-footer-background);
    /* to stay on top of other elements at the bottom and stick to it */
    position:sticky;
    bottom: 0px;
    z-index: 10;   
}
footer img {
    height: 50px;
}

nav { 
    display: flex;
}

.nav-item-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3vw;
    height: var(--height-footer);
    /* background-color: aquamarine; */
}
.nav-home-box {
    background-color: blue;
}
